.ChessBoard, .ChessBoard > div {
  display: inline-block;
}

.ChessBoard {
  line-height: 0;
  height: 70vh;
  width: 70vh;
  border: 15px solid saddlebrown;
  border-radius: 15px;
}

.block {
  height: 12.5%;
  width: 12.5%;
}

.black {
  background-color: black;
}

.queen-piece, .queen-view {
  height: 80%;
  width: 80%;
  margin: 10%;
  border-radius: 10px;
}

.queen-piece {
  background-image: url(queen.png);
  background-size: contain;
}

.queen-view {
  background-color: rgba(255,0,0,0.5);
}

.count {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

button {
  background-color: saddlebrown;
  width: 135px;
  height: 30px;
  border-radius: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
